@{
    ViewData["Title"] = "Estadísticas - Listar Actividades";
}
<h3>Estadísticas - Listar Actividades en un Rango de Fechas</h3>

<form method="post" id="formBuscarActxFechas">
    <label>Seleccione Fecha Inicial</label><br />
    <input type="date" name="fechaInic" id="fechaInic" /><br />
    <label>Seleccione Fecha Final</label><br />
    <input type="date" name="fechaFin" id="fechaFin" /><br />
    <label>Seleccione una Categoría</label><br />
    <select name="categoria" id="categoria">
        @foreach (var cat in ViewBag.Categoria)
        {
            <option value="@cat.Nombre">@cat.Nombre</option>
        }
    </select><br /><br />
    <input type="submit" value="Buscar" />
</form>
<p id="pMensaje">@ViewBag.Msg</p>


@if (ViewBag.Buscar != null && ViewBag.Msg == null)
{
    <table border="1" id="tablalistar">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Categoría
                </th>
                <th>
                    Fecha y Hora
                </th>
                <th>
                    Edad Mínima
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        @foreach (var actEnc in ViewBag.Buscar)
        {

            <tbody>
                <tr>
                    <td>
                        @actEnc.Nombre
                    </td>
                    <td>
                        @actEnc.CategoriaTipo.Nombre
                    </td>
                    <td>
                        @actEnc.FechaHora
                    </td>
                    <td>
                        @actEnc.EdadMinima
                    </td>
                    <td>
                        @actEnc.PrecioFinal()
                    </td>
                </tr>
            </tbody>
        }
    </table>
}


@section Scripts{

    <script>
        document.querySelector("#formBuscarActxFechas").addEventListener('submit', evaluarBuscar)

        function evaluarBuscar(evento) {
            evento.preventDefault();

            let fechaInic = document.querySelector("#fechaInic").value;
            let fechaFin = document.querySelector("#fechaFin").value;
            let categoria = document.querySelector("#categoria").value;

            if (fechaInic != "" && fechaFin != "" && categoria != "") {
                if (fechaInic <= fechaFin) {
                    this.submit();
                } else {
                    
                    document.querySelector("#pMensaje").innerHTML = "Debe seleccionar un rango de fechas válido."
                }
            } else {
                
                document.querySelector("#pMensaje").innerHTML = "Debe completar todos los campos para la búsqueda."
            }

        }
    </script>
}

<style>
    th, td {
        padding: 4px;
        background-color: azure;
    }
</style>